.headerlink{
    display: none !important;
}

h1 {
    font-size: 2rem !important;
}

h2 {
    font-size: 1.6rem !important;
}

a.reference.internal{
    font-size: 90% !important;
}

.dark .dark\:invert {
    --tw-invert: none !important;
    filter: none !important;
}

.check-icon{
    color: #28A745 !important;
}

.x-icon{
    color: #DC3545 !important;
}

.sd-card-body{
    padding: 0 !important;
}

.blog-card-image{
    margin: 0 !important;
    padding: 0 !important;
}

.blog-card-text{
    font-weight: 500 !important;
}

.leading-loose{
    font-size: 70% !important;
    text-align: center !important;
    margin: auto !important;
    max-width: 100% !important;
}

@media (min-width:1440px) {

    .leading-loose{
        font-size: 70% !important;
        text-align: center !important;
        margin: auto !important;
        max-width: 70% !important;
    }

}