.headerlink{
    display: none !important;
}

h1 {
    font-size: 2rem !important;
}

h2 {
    font-size: 1.8rem !important;
}

.caption-text {
    font-size: 0.8rem !important;
}

a.reference.internal{
    color: #64748b !important;
    font-size: 0.7rem !important;
}
