.headerlink{
    display: none !important;
}

h1 {
    font-size: 2rem !important;
}

h2 {
    font-size: 1.6rem !important;
}

.mr-2{
    height: 30px !important;
    width: 30px !important;
    padding: 1px 1px 1px 1px !important;
}

span.caption-text, p.font-medium{
    font-size: 90% !important;
}

a.reference.internal{
    color: #64748b !important;
    font-size: 80% !important;
}
